body {
  margin: 0;
  font-family: Arial Black, sans-serif;
  background: white;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 30px;   
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
 .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.popupone{
    border: 10px solid #000000;
    position: absolute;
    width: 500px;
    height:380px;
    top:130px;
    right: 600px;
    background-color: white;
}

.popupone:hover{
z-index:100000;
}

.popuptwo{
    border: 10px solid #000000;
    position: absolute;
    width: 319.4px;
    height:460px;
    top:280px;
    left:100px;
    background-color: white;
}

.popuptwo:hover{
z-index:100000;
}

.popupthree{
    border: 10px solid #000000;
    position: absolute;
    width: 600px;
    height:446px;
    top:370px;
    right:180px;
    background-color: white;
}

.popupthree:hover{
  z-index:100000;
}

.popupfour{
  border: 10px solid #000000;
  position: absolute;
  width: 900px;
  height:580px;
  top:80px;
  right: 400px;
  background-color: white;
  font-size: 20px;
  text-align:center;
}

.popupfour:hover{
z-index:100000;
}


.popupshop{
  border: 10px solid #000000;
  position: absolute;
  width: 1000px;
  height:645px;
  top:100px;
  left:200px;
  background-color: white;
}

.preview{
	position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.preview iframe{
	position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


.buy{
  overflow: hidden;
  background-color: #393939;
  color:black;
  font-size: 50px;
  text-align: center;
  line-height: 52pt;
  transition: background-color 0.25s linear;
  text-decoration-line: none;}

.buy:hover{
  background-color: #C8C8C8
}

.shop{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.shop iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


.tab{
  z-index: 10;
  background-color: white;
  color: black;
  text-align: left;
  font-size: 25px;
  border-bottom:10px solid #000000;;
 }

.icons{
right:-480px;
position: absolute;
width: 600px;
height:446px;
z-index:-10000;
}

.icons img{
  width: 15%;
}

